API_SERVER_HOST = '0.0.0.0'
API_SERVER_PORT = '3000'


DB_PORT_IN = 5434
DB_PORT_OUT = 5432
DB_TAG = 13.4
DB_NAME_DB = 'db_ya_task'
DB_USER = 'test_user'
DB_PASSWORD = 'test_user'
DB_HOST = 'db'
DB_PORT = 5432


NGINX_PORT_IN = 80
NGINX_PORT_OUT = 3000
NGINX_TAG = 1.19.3
